[Desktop Entry]
Encoding=UTF-8
Name=Bitconnect
Comment=Desktop wallet for Bitconnect Cryptocurrency
Comment[de]=Offizieller Client für die Kryptowährung Bitconnect
Exec=bitconnect-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitconnect128.png
MimeType=x-scheme-handler/bitconnect;
Categories=Office;Finance;
StartupWMClass=Bitconnect-qt
